p,
h2,
h1,
h3,
a {
  color: #1e293b;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(to bottom right, #95bdc9, #91b5bf);
  border-bottom: 5px solid #1e293b;
  border-radius: 0 0 10px 10px;
}
header img {
  width: 100px;
}
header h1 {
  text-transform: uppercase;
  font-size: 60px;
}
.subtitulo {
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}
.subsubsub {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2px;
  margin: 0;
}
.abas {
  background: linear-gradient(to bottom right, #95bdc9, #91b5bf);
  border: 2px solid #1e293b;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin-top: 15px;
}
.sub-aba img {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #1e293b;
  border-radius: 13px 13px 0 0;
}
.sub-aba {
  width: 95%;
  max-width: 95%;
  flex: none;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid #1e293b;
}
.texto-aba {
  padding: 0 15px;
}
#rodape {
  background: linear-gradient(to bottom right, #95bdc9, #91b5bf);
  text-align: center;
  padding: 20px;
  border-top: 5px solid #1e293b;
  border-radius: 10px 10px 0px 0px;
}
#rodape p {
  margin: 0;
}
#rodape a {
  color: #32425c;
}
.button {
  border: 2px solid;
  border-color: #1e293b;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  font-size: 20px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 50px;
  }

  .subsubsub {
    font-size: 50px;
    margin: 0;
  }

  .abas {
    margin: 30px;
    padding: 25px;
  }

  .container {
    gap: 30px;
  }

  .sub-aba {
    max-width: none;
    flex: 1;
    transition: transform 0.3s ease;
  }

  .sub-aba:hover {
    transform: scale(1.03);
  }
}
