body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, rgb(213, 232, 240), rgb(180, 195, 208));
}
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgb(213, 232, 240);
  padding-top: 25px;
  transition: left 0.3s ease;
  text-align: center;
  z-index: 1;
}
#sidebar.open {
  left: 0px;
}
#menu {
  z-index: 3;
  position: sticky;
  top: 0;
  border: none;
  font-size: 30px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: black;
  background-color: rgb(213, 232, 240);
  width: 100%;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
main {
  margin: 10px;
  z-index: 2;
}
.aba {
    background-color: white;
    border-left: 3px solid #1672a3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.abas {
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.abasdec {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    padding-top: 0;;
    border-top: 3px solid #1672a3;
    text-align: center;
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    flex: 1;
}
.comecar {
    margin-top: 13px;
    background: linear-gradient(to bottom right,#1672a3,#38748e);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px
}
#irmodulo {
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(173, 223, 253);
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
#irmodulo a {
    text-decoration: none;
    color: #38748e;
    font-size: 20px;
}
#irmodulo:hover {
    background-color: rgb(194, 227, 248);
}
@media (min-width: 768px) {
    .abasdec:hover {
    scale: 1.05;
}
}