body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: white;
  padding-top: 20px;
  transition: left 0.3s ease;
  text-align: center;
  z-index: 1;
}
#sidebar.open {
  left: 0px;
}
#menu {
  z-index: 3;
  position: sticky;
  top: 0;
  border: none;
  font-size: 20px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 100%;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
main {
  margin: 10px;
  z-index: 2;
}
