body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}
#sidebar {
  height: 100vh;
  width: 280px;
  position: fixed;
  top: 0;
  left: -280px;
  background-color: #0a3161;
  padding-top: 35px;
  transition: left 0.3s ease;
  text-align: center;
  z-index: 1;
  color: #fff;
  overflow-y: auto;
  box-sizing: border-box;
}
#sidebar.open {
  left: 0px;
}
#menu {
  z-index: 3;
  position: sticky;
  top: 0;
  border: none;
  font-size: 30px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  background-color: #0a3161;
  width: 100%;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
main {
  margin: 10px;
  z-index: 2;
}
.aba {
  background-color: #f8fafc;
  border-left: 3px solid #3c6eaa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.abas {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.abasdec {
  background-color: #f8fafc;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  padding-top: 0;
  border-top: 3px solid #3c6eaa;
  text-align: center;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.comecar {
  margin-top: 13px;
  background-color: #0a3161;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#irmodulo {
  border: none;
  height: 50px;
  border-radius: 10px;
  background-color: #b22234;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
#irmodulo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.modulo {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border: 2px solid #fff;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-align: justify;
  padding-left: 10px;
}
.modulo a {
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  .abasdec:hover {
    scale: 1.05;
  }
  .abasdec {
    flex: 1;
  }
}
