body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff
}
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #AA151B;
  padding-top: 25px;
  transition: left 0.3s ease;
  text-align: center;
  z-index: 1;
  color: #fff;
}
#sidebar.open {
  left: 0px;
}
#menu {
  z-index: 3;
  position: sticky;
  top: 0;
  border: none;
  font-size: 30px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  background-color: #AA151B;
  width: 100%;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}
#sidebar a {
    color: #fff;
}
main {
  margin: 10px;
  z-index: 2;
}
.aba {
  background-color: #f8fafc;
  border-left: 3px solid #F1BF00;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.abas {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.abasdec {
  background-color: #f8fafc;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  padding-top: 0;
  border-top: 3px solid #F1BF00;
  text-align: center;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.comecar {
  margin-top: 13px;
  background-color: #AA151B;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#irmodulo {
  border: none;
  height: 50px;
  border-radius: 10px;
  background-color: #F1BF00;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
#irmodulo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 768px) {
  .abasdec:hover {
    scale: 1.05;
  }
  .abasdec {
    flex: 1;
  }
}
